/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import url(//fonts.googleapis.com/css?family=Pacifico​);
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
	text-align: center;
	background-color: white;
	height: 350px;

	h1{
		padding-top: 20px;
		/*font-family: 'Pacifico​', cursive;*/
		font-family: 'Josefin Sans', sans-serif;
		color: #330000;
		font-weight: 600;
	}

	p{
		font-family: 'Helvetica Neue', Helvetica, sans-serif;
		color: #000;
	}
}

.profile-image{
	position: absolute;
	border: 1px solid #ccc;
	/*box-shadow: 5px 5px 5px #ccc;*/
	left: 7px;
	bottom: 12px;
	width: 100px;
	height: 100px;
}

.profile-image img{
	width: 100%;
	height: auto;
}

.roll-effect{
	border-bottom-left-radius: 800px 40px;
}

.box-effect:before{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 22px;
	left: 3px;
	width: 60%;
	top: 80%;
	max-width: 300px;
	background: #777;
	box-shadow: 0 18px 10px 2px rgba(0, 0, 0, 1);
	transform: rotate(-8deg);
}


/*.box-effect:after{
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	right: 10px;
	left: auto;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	box-shadow: 0 15px 10px #777;
	transform: rotate(2deg);
}*/























